[server]
host_cache_size                 = 128
table_definition_cache          = 2048
innodb_buffer_pool_size         = 6G
innodb_log_file_size            = 1536M
innodb_log_buffer_size          = 256M

[mariadb]
skip-name-resolve               = 1
general-log                     = 1
require_secure_transport        = 0
skip_name_resolve               = 1
skip_show_database              = 1
collation_server                = utf8mb4_unicode_ci
tcp_keepalive_time              = 60
slow_launch_time                = 5
long_query_time                 = 10.0
max_error_count                 = 1024
max_connections                 = 100
max_connect_errors              = 100
max_allowed_packet              = 16777216 # 16 MB
lower_case_table_names          = 1
log_slow_admin_statements       = 1
log_queries_not_using_indexes   = 1
wait_timeout                    = 360
use_stat_tables                 = preferably_for_queries
tcp_nodelay                     = 1
general_log_file                = general.log
slow_query_log_file             = slow-queries.log
slow_query_log                  = 1
log_disabled_statements         = 1
lock_wait_timeout               = 360
interactive_timeout             = 360
idle_write_transaction_timeout  = 360
idle_transaction_timeout        = 360
explicit_defaults_for_timestamp = 1
flush                           = 0
flush_time                      = 10
div_precision_increment         = 10
delayed_insert_timeout          = 360
delayed_insert_limit            = 100
default_week_format             = 1
default_storage_engine          = InnoDB
default_password_lifetime       = 0
connect_timeout                 = 10
host-cache-size                 = 0
character-set-server            = utf8mb4
collation-server                = utf8mb4_general_ci
